<nav class='navbar navbar-default'>
    <div class='container-fluid'>
        <div class='navbar-header'>
            <a class='navbar-brand' href='/'>
                rent-a-pool
            </a>
        </div>
        <!-- <div class="container-fluid justify-content-end"> -->
        <div class='pull-right'>
            <a href="/about" class='btn btn-default btn-outline-success navbar-btn'>about us</a>
        </div>
        <div class='pull-right'>
            <a href='/pools/reserve' class='btn btn-default btn-outline-success navbar-btn'> Reserve a Pool </a>
        </div>
        <div class='pull-right'>
            <a href='/pools/new' class='btn btn-default btn-outline-success navbar-btn'> List a Pool </a>
        </div>
        <div class='pull-right'>
            <a href='/pools/login' class='btn btn-default btn-outline-success navbar-btn'>Login</a>
        </div>
        <!-- </div> -->
    </div>
</nav>
