{% extends "base.html" %}

{% block content %}
<div>
    <style>
      .break {
        margin-top: 150px;
      }
    </style>
  </div>
<a href='/'>Back to Home</a>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<!-- pool Name -->
		<h1>{{ pool.title }}</h1>

		<!-- pool Picture -->
		<div class="card"><div class="card-body">
			<img width="300"  height="300" src="{{ pool.uimg }}.png">
		</div></div>

		<!-- location -->
		<strong>Location (address given upon reservation)</strong>
		<p>{{ pool.location }}</p>

		<!-- Description of the item -->
		<p>{{ pool.description }}</p>

		<!-- pool price -->
		<strong>Price /hr</strong>
		<p>${{ pool.price }}</p>
		
		<!-- pool size -->
		<strong>Pool Size (in feet)</strong>
		<p>{{ pool.size }} </p>

		<p><a href="/pools/{{ pool._id }}/reserve"><button class="btn btn-primary">Reserve Pool</button> </a></p>

		<p><a href="/pools/{{ pool._id }}/edit"><button class="btn btn-primary">Edit Item</button></a></p>
		<p><form method="POST" action="/pools/{{pool._id}}/delete">
			<input type='hidden' name='_method' value='DELETE'>

			<button class="btn btn-primary" type="submit">Delete Item</button>
		</form></p>
	</div>
</div>
{% endblock %}
