{% extends 'base.html' %}

{% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
		<form method='POST' action='/pools/{{ pool._id }}'>
			<!-- <input name='_method' value='PUT'/> -->
		    {% include "partials/pools_form.html" %}
		    <div class="form-group">
		    </div>
		</form>
	</div>
</form>
</div>
<style>
.break {
	margin-top: 175px;
}
.row {
	margin-right: 50px;
	margin-left: 50px;
	display: flex;
	align-items: center;
}
* {
	color: orange;
}
</style>
<div class="row">
	<div class='col-sm-6 col-sm-offset-3'>
		<a href="/pools/{{ pool._id }}"><button class="btn btn-danger">Cancel</button></a>
	</div>
</div>
{% endblock %}
