{% extends "base.html" %}

{% block content %}
<div>
    <style>
      .break {
		margin-top: 12%;
	  }
	  .row {
		margin-top: 10px;
		margin-right: 50px;
		margin-left: 50px;
	  }
	  .card {
		  width:250px;
		  height:250px;
	  }
	  * {
		color: orange;
	  }
    </style>
  </div>

<div class="row">
	<div class="col-sm-6 col-sm-offset-3">

		<!-- pool title -->
		<h1>{{ pool.title }}</h1>

		<!-- pool Picture -->
		<div class="card"><div class="card-body">
			<img width="200"  height="200" src="{{ pool.picture }}">
		</div></div>
		<br>
		<!-- location -->
		<strong>Location (address given upon reservation)</strong>
		<!-- <p>{{ pool.location }}</p> -->
		<br>
		<br>
		<!-- Description of the item -->
		<strong>Description</strong>
		<p>{{ pool.description }}</p>

		<!-- pool price -->
		<strong>Price /hr</strong>
		<p>${{ pool.price }}</p>
		
		<!-- pool size -->
		<strong>Pool Size (in feet)</strong>
		<p>{{ pool.size }} </p>

		<strong># of guests: </strong><p>{{ pool.guests }}</p>
		<br>
		<p><a href="/pools/reserve"><button class="btn btn-primary">Reserve Pool</button> </a></p>

		<p><a href="/pools/{{ pool._id }}/edit"><button class="btn btn-primary">Edit Item</button></a></p>
		<!-- <p><form method="POST" action="/pools/{{ pool._id }}/delete"> -->
			<input type='submit' name='_method' value='DELETE' style="background-color:red;color:white;">
		<!-- </form></p> -->
	</div>
</div>
{% endblock %}
